.row{
	clear: both;
	}
.col-md-1, .col-md-2, .col-md-3,
.col-sm-1, .col-sm-2, .col-sm-3{
	float: left;
}
@media (min-width:481px){
.col-md-1{
 width: 100%;
}
.col-md-2{
width: 66.6%;
}
.col-md-3{
width: 33.3%;
text-align: center;
padding: 2vh 0;

}
}
@media (max-width:480px){
.col-sm-1{
width: 100%;
text-align: center;
padding: 2vh 0;
}
.col-sm-2{
width: 66.6%;	
}
.col-sm-3{
width: 33.3%;	
}
}
.hola{
	text-align: center;
	width: 99%;
	background-color: green;
	padding: 6vh;
	margin:0 auto;
	box-sizing: border-box;
}
.lorem{
	width: 60%;
	padding-left: 21%; 
	
}

.img-responsive{
	margin: 0 auto;
	max-width: 100%;

}
#firstrow{
	background-color: green;
	height: 15vh;
	width:100vw;
	color: white;

}

.container{
    height: 150vh;
    border: solid 1px;
    box-sizing: border-box;


}
	 	